<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show">
      <h4 class="alert-heading h5"><%= t('.errors_title', count: movie.errors.count) %></h4>
      <ul class="mb-0 small">
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="<%= t('helpers.bootstrap.close_label', default: 'Close') %>"></button>
    </div>
  <% end %>

  <%= render 'movies/shared/form_poster_section', form: form, movie: movie %>

  <%= render 'movies/shared/form_fields', form: form, movie: movie %>

  <%= render 'movies/shared/form_categories_section', form: form, movie: movie, categories: @categories %>

  <%= render 'movies/shared/form_tags_section', form: form, movie: movie %>

  <div class="d-flex gap-2 mt-4">
    <%= form.submit (movie.persisted? ? t('.update_movie_button') : t('.create_movie_button')), class: "btn btn-primary" %>
    <%= link_to t('cancel'), movie.persisted? ? movie_path(movie) : movies_path, class: "btn btn-secondary" %>
  </div>
<% end %>
